{% extends 'base.html.twig' %}

{% block title %}Edycja danych{% endblock %}

{% block content %}

    <section class="filter">
        <div class="container">
            <h3 class="mt-3 mb-3 text-center">Filtrowanie</h3>
            <div class="form-filter">
                <form method="post" action="{{ path('app_all_cars') }}">
                    <p>Marka: <input type="text" name="name"  class="zxc"/></p>
                    <p>Model: <input type="text" name="model"  class="zxc"/></p>
{#                    <p>Rok produkcji: od:<input type="number" name="yearproduction-min"  class="zxc"/>#}
{#                    do: <input type="number" name="yearproduction-max"  class="zxc"/></p>#}
                    <p>Cena: od:<input type="number" name="price-min" min="1" class="price"/>
                    do: <input type="number" name="price-max" min="1" class="price"/> (zł)</p>
                    <p><button type="submit" class="btn btn-primary mt-2">OK</button></p>
                </form>
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}